<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>
<form action="/add-todo" method="post">
    <input type="text" placeholder="Enter a todo" name="text"/>
    <button type="submit">Add ToDo</button>
</form>


<ol>
    {{#todos}}
    <li>{{text}} {{isDone}}</li><a href="/delete?todoID={{id}}">Delete</a>&nbsp;<a href="/toggle-todo?todoID={{id}}">Toggle</a>
    {{/todos}}
</ol>
{{/user}}
</body>
</html>